* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --green: #50cb93;
  --white: #f8f8f8;
  --lightgreen: #c7ffd8;
  --blackdim: #323232;
  --army: #798777;
}
body {
  font-family: "Nunito", sans-serif;
}
.nav__web {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;
}
.nav__links-l {
  display: flex;
}
.nav__links-l li a {
  margin-left: 40px;
  color: var(--blackdim);
  font-weight: 700;
}
.nav__links-l li a:hover {
  color: var(--green);
}
.nav__links-r {
  display: flex;
}
.nav__links-r li a {
  margin-left: 40px;
  color: var(--blackdim);
  font-weight: 700;
}
.nav__links-r li a:hover {
  color: var(--green);
  outline: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* Hero Section */
.hero__section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.hero__section-text {
  font-weight: 700;
  font-size: 2rem;
  width: 540px;
  margin-top: 15%;
  justify-self: center;
}
#hero__section-text-color {
  color: var(--green);
}
.hero__section-button {
  border-radius: 50px;
  border-color: transparent;
  padding: 15px 50px;
  color: var(--white);
  background-color: var(--green);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  font-weight: 400;
  font-size: 1rem;
  margin-top: 50px;
}
.hero__section-button:hover {
  background-color: teal;
}
.hero__section-image {
  justify-self: center;
}
.hero__section-image img {
  justify-self: center;
  height: 550px;
  width: auto;
}
/* * About Section */

.about__section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5rem;
}
.about__section-text {
  justify-self: center;
}
.about__section-text h2 {
  font-weight: 700;
  font-size: 4rem;
  width: 440px;
}
.about__section-text p {
  width: 440px;
  font-weight: 400;
  font-size: 26px;
  color: var(--army);
}

.about__section-image img {
  height: 550px;
  margin-left: 14rem;
}
/* Benfefits */
.benefits__section {
  margin-top: 5rem;
  /* display: grid; */
}
.benefits__section-heading {
  text-align: center;
}
.benefits__section-cat {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 4rem;
}
/* Icons Decoration */
.benefits__section-cat--decorative p {
  text-align: center;
  justify-content: center;
}
.benefits__section-cat--lsl p {
  text-align: center;
  justify-content: center;
}
.benefits__section-cat--ip p {
  text-align: center;
  justify-content: center;
}
.box {
  width: auto;
  margin: auto;
  text-align: center;
  color: var(--green);
}
.box img {
  height: 50px;
}
/* !Shop Section */
.shop__section {
  margin-top: 5rem;
  display: grid;
  grid-template-areas: "heading" "card";
  background-color: #f8f8f8;
  padding-bottom: 5rem;
}
.shop__section--heading {
  grid-area: heading;
  text-align: center;
  margin-bottom: 5rem;
  margin-top: 2rem;
}
.card__container {
  display: flex;
  justify-content: space-evenly;
}
/** Card Start */
.card {
  grid-area: card;
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 210px 80px;
  grid-template-areas: "image" "text" "button";
  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 300px;
}
/* .card2 {
  margin-left: 30%;
}
.card3 {
  margin-left: 60%;
} */
.card__image {
  grid-area: image;
  background: url(/images/alex-loup-6hgrfOJhr74-unsplash.jpg);
  background-size: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-bottom: 25px;
}
.card__text {
  grid-area: text;
  padding: 23px;
}
.card__text p {
  text-align: left;
  margin-top: 10px;
}
.card__text h3 {
  text-align: left;
}
.card__button {
  grid-area: button;
}
.card__button button {
  background-color: var(--green);
  padding: 15px 25px;
  border-radius: 50px;
  border-color: transparent;
  color: var(--white);
  cursor: pointer;
}
/** Card End */

/*! user REview Section */
.review__section {
  margin-top: 5rem;
  background-image: url(/images/scott-webb-hDyO6rr3kqk-unsplash.jpg);
  background-size: cover;
  background-position: bottom;
  height: 80vh;
  display: flex;
}
.review__container {
  width: 750px;
  height: 400px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: auto;
  width: 50%;
}
.user__img img {
  border-radius: 100px;
  height: 80px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
}
.user__name h4 {
  text-align: center;
  padding-top: 15px;
  font-size: 25px;
}
.user__comment {
  padding: 20px;
  text-align: center;
}
/* Newsletter Section */
.newsletter__section {
  margin-top: 5rem;
  margin-bottom: 4rem;
}
.newsletter__text {
  text-align: center;
  margin-bottom: 3rem;
}
.newsletter__text h3 {
  font-weight: 700;
  font-size: 1.5rem;
}
.newsletter__text p {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.newsletter__container {
  display: flex;
  justify-content: center;
}

.newsletter__email {
  grid-area: email;
}
.newsletter__email input {
  padding: 10px;
  border-radius: 20px 0px 0px 20px;
  border: var(--green) solid 3px;
}
.newsletter__email input:focus {
  outline: none;
}
.newsletter__icon {
  grid-area: icon;
  justify-content: center;
  align-items: center;
  align-self: center;
  border: solid var(--green) 2.5px;
  padding: 5px;
  border-radius: 0px 20px 20px 0px;
  background: var(--green);
}
.newsletter__icon img {
  height: 20px;
  width: auto;
  margin-left: 5px;
  margin-right: 7px;
}
/* Footer Section */
.footer__section {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--blackdim);
  align-content: center;
  padding-top: 5rem;
  padding-bottom: 3rem;
}
.footer__section-logo img {
  height: 50px;
  width: auto;
}
.footer__menu ul {
  display: flex;
  align-content: center;
  justify-content: center;
}
.footer__menu ul li {
  margin-left: 20px;
}
.footer__menu ul li a {
  text-decoration: none;
  color: var(--white);
  font-weight: 700;
  font-size: 1.3rem;
}

.footer__social img {
  height: 30px;
  margin-left: 50px;
}
